body {
    background-color: white;
    position: relative;
    z-index: 50;
    padding-bottom: 50px;
}

.main {
    border-radius: 3px;
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 50%;
    height: 300;
    text-align: left;
    background-color: #676767;
    margin: auto;
    box-shadow: 0 2px 5px rgba(0,0,0,0.6);
}

.main h1 {
    color: white;
}

.main input[type="radio"]{
    display: none;
}

.main input[type="radio"] + .box {
    transition: all .1s ease-out;
}

.main input[type="radio"]:hover + .box {
    transition: all .1s ease-out;
    border-radius: 20%;
}

.main input[type="radio"]:checked + .box{
    transition: ease all .1s;
    border-radius: 90%;
}

.main .box{
    width: 50px;
    height: 50px;
    border-radius: 5px;
    will-change: transition;
    display: inline-block;
    cursor: pointer;
    position: relative;
    
        
}

.main .hue{
    height: 20px;
    width: 50px;
    display: inline-block;
    position: relative;
    text-align: center;
    font-size: 8.7px;
    line-height: 30px;
    padding: 0;
    color: white;
}

.main .color{
    height: 50px;
    width: 50px;
    display: inline-block;
    position: relative;
    text-align: center;
    align-content: center;
    font-size: 14px;
    color: white;
    margin: 0;
}

.main .fill{
    height: 50px;
    width: 50px;
    display: inline-block;
    position: relative;
    text-align: center;
    font-size: 14px;
    padding: 0;
    color: white;
    margin: 0;
}

.filler {
    flex: 1 1 auto;
}

#preview {
    height: 175px;
	width: 175px;
	margin-top: 20px;
	background-color: #1a1a1a;
	margin-bottom: 20px;
    border-radius: 20px;
    border: 2px solid black;
}

.previews {
    grid-column: 2/3;
}

.modal {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.2);
    overflow: auto;
    z-index: 1;
    transition: all .1s ease-out;
}

.mdls {
    padding-top: 50px;
    width: 50%;
    margin: auto;
    z-index: 999;
    position: relative;
    
}

.left {
    display: flex;
    flex-direction: column;
    grid-column: 1/2;
}

.center {
    display: flex;
    flex-direction: column;
    grid-column: 2/3;
}

.right {
    display: flex;
    flex-direction: column;
    grid-column: 3/4;
}

.btn {
    margin-right: 5px;
    border: 1px solid #000000;
    border-radius: 50px;
    background-color: transparent;
    color: rgba(0,0,0, 0.87);
    width: 96px;
    height: 48px;
    outline: none;
    color: #000000;
    transition: all .1s ease-out;
}

.btn:hover {
    background-color: black;
    color: white;
    transition: all .1s ease-out;
}

.btn:active {
    outline: none;
    
}

.btn2 {
    margin-right: 10px;
    border: 1px solid #ff298c;
    border-radius: 50px;
    background-color: transparent;
    color: rgba(0,0,0, 0.87);
    width: 96px;
    height: 48px;
    outline: none;
    color: white;
    transition: all .1s ease-out;
    float: right;
}

.btn2:hover {
    background-color: #ff298c;
    color: white;
    transition: all .1s ease-out;
}

.btn2:active {
    outline: none;
}

.red500 {background-color: #F44336}
.orange500 {background-color: #f4ba36}
.yellow500 {background-color: #f4f436}
.green500 {background-color: #53f436}
.blue500 {background-color: #3669f4}
.indigo500 {background-color: #6236f4}
.violet500 {background-color: #f436ed}
.white500 {background-color: #ffffff}
.black500 {background-color: #000000}
